In [1]:
import pandas as pd

In [9]:
pd.read_csv("./X_test_scaled.csv")

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_OUTLIERS
0,100001,-0.324395,-0.720370,-0.717914,0.664531,-0.577538,-0.142533,-0.075097,-0.451790,-0.239153,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,-1.007331,-0.468635
1,100013,-0.324395,1.388015,1.392925,0.664531,-0.577538,0.142129,0.159601,2.943988,0.248271,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,1.035362,1.258290,-0.468635
2,100028,-0.324395,-0.720370,-0.717914,0.664531,2.192084,0.616567,2.424840,1.511720,2.807247,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,0.691885,-0.468635
3,100042,-0.324395,-0.720370,1.392925,0.664531,-0.577538,0.426792,0.896077,0.516924,0.735695,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,1.035362,0.125480,-0.468635
4,100057,-0.324395,1.388015,1.392925,0.664531,2.192084,0.047242,-0.247969,-0.344362,-0.446308,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,-0.440926,-0.468635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,111174,-0.324395,-0.720370,-0.717914,0.664531,-0.577538,-0.085601,-0.878923,-0.630008,-0.909361,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,1.035362,1.258290,-0.468635
996,111175,-0.324395,-0.720370,-0.717914,0.664531,-0.577538,0.806342,0.006072,0.257359,-0.239153,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,0.691885,-0.468635
997,111194,-0.324395,-0.720370,-0.717914,-1.504820,0.807273,0.142129,-0.148888,-0.285680,-0.239153,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,0.125480,-0.468635
998,111196,-0.324395,1.388015,-0.717914,0.664531,-0.577538,-0.142533,-0.931427,-0.648638,-0.921546,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,-0.308620,0.125480,-0.468635
999,111277,-0.324395,-0.720370,-0.717914,0.664531,2.192084,-0.237421,0.006072,0.389936,-0.239153,...,-0.024402,-0.022529,-0.018305,-0.070987,-0.058766,-0.155837,-0.269947,2.379344,-1.007331,-0.468635

In [4]:
nom = pd.read_csv("./nom.csv")

In [5]:
nom

,Unnamed: 0,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_OUTLIERS
0,0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
2,2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,False
3,3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
4,4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1561,111174,Cash loans,F,N,Y,0,148500.0,245268.0,17977.5,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,False
996,1562,111175,Cash loans,F,N,Y,0,360000.0,601470.0,30838.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
997,1568,111194,Cash loans,F,N,N,1,202500.0,539100.0,22968.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
998,1569,111196,Cash loans,M,N,Y,0,135000.0,224136.0,17707.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
999,1584,111277,Cash loans,F,N,Y,2,112500.0,601470.0,32760.0,...,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0,False

In [6]:
X_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_OUTLIERS
0,100001,0,0,0,1,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,100005,0,1,0,1,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
2,100013,0,1,1,1,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,False
3,100028,0,0,0,1,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
4,100038,0,1,1,0,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,111174,0,0,0,1,0,148500.0,245268.0,17977.5,202500.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,False
996,111175,0,0,0,1,0,360000.0,601470.0,30838.5,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,False
997,111194,0,0,0,0,1,202500.0,539100.0,22968.0,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
998,111196,0,1,0,1,0,135000.0,224136.0,17707.5,198000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,False
999,111277,0,0,0,1,2,112500.0,601470.0,32760.0,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0,False